#title {
    font-size: x-large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #350e7e;
    color: white;
}

.apple {
    color: rgb(221, 122, 122);
}

.lime{
    color: #a6f188
}

.apple.lime {
    color: #e77b22;
}

.grape, .eggplant {
    color: purple;
}

.vine .grape {
    color: rgb(187, 219, 187);
    background-color: black;
}

div {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    height: auto;
    width: auto;
}